input{
    height: 40px;
    width: 320px;
}
.botao{
    display: flex;
    justify-content: flex-end;
    height: 50px;
    width: 1600px;
}
button{
    width: 120px;
    height: 50px;
}
.fundo{
    background-image: url(https://img.freepik.com/vetores-gratis/fundo-de-certificado-azul-vetor-moderno-de-ouro_53876-156358.jpg);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    height: 800px;
    width: 1500px;
}
.titulo{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.texto1{
    display: flex;
    justify-content: center;
    margin-top: 200px;
}
.texto2{
    display: flex;
    justify-content: center;
}
